/* Seletor Universal - Remove margens e preenchimentos padrão */
*{
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    box-sizing: border-box; /* Inclui a borda e o preenchimento no cálculo do tamanho */
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}

html {
    scroll-behavior: smooth; /* Implementa uma passagem suave para a secção através do navbar */
}

body{
    overflow-x: hidden; /* Esconde a barra de scroll horizontal da página */
    margin: 0;
    padding: 0;
}

/* Estilo da barra de navegação principal (navbar)*/
.bng-navbar {
    background-color: #ffeafd; /* Cor de fundo escuro */
    display: flex; /* Coloca os elementos em linha */
    align-items: center; /* Centraliza os itens verticais */
    justify-content: space-between; 
    padding: 10px 20px; /* Espaçamento interno da barra */
    position: sticky; /* Fixa a barra no topo ao fazer scroll */
    top: 0; /* A barra fica colada ao topo */
    width: 100%; /* Faz a navbar ocupar toda a largura da página */
    z-index: 1000; /* Garante que a navbar está em cima de tudo */
    flex-wrap: wrap;
}


/* Estilo para os <div> internos da barra de navegação */ 
.bng-navbar div {
    display: flex; /* Coloca os elementos lado a lado */
    align-items: center; /* Alinha-os verticalmente ao centro */
}

/* Estilo do logótipo na barra de navegação */ 
.bng-navbar img {
    height: 80px; /* Define a altura do logótipo */
    margin-right: 10px; /* Espaço entre o logótipo e o texto */ 
}

/* Estilos para os links centrais da navegação */ 
.container-navegacao {
    text-align: center; /* Centraliza os links */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite a quebra em ecrãs menores */
    padding: 10px; /* Adiciona espaçamento interno */ 
}

.container-navegacao a {
    font-size: 1.3em; /* Aumenta o tamanho da fonte dos links */
    margin: 0px 40px; /* Espaçamento horizontal entre os links */
    text-decoration: none; /* Remove o sublinhado */
    color: #a83882; /* Define a cor dos links */
    white-space: nowrap; /* Impede que o texto quebre para a linha de baixo */
}

.container-navegacao a:hover {
    color: #fff; /* Muda a cor ao passar o mouse */ 
}

/* Botão de iniciar sessão */
.nav-cliente a {
    color: #680447; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */ 
    font-size: 1.1em; /* Tamanho da letra */ 
    font-weight: 600; /* Grossura da letra */
    border-radius: 999px; /* Raio das bordas do botão */
    padding: 10px 20px; /* Espaçamento interno */ 
    background-color: #ffeafd; /* Cor do botão */

    border: 2px solid #945880; /* Borda esterna do botão */

    transition: /* Cria uma transição mais suave e controlada */
        box-shadow 0.25s ease,
        background 0.25s ease,
        color 0.25s ease;

    white-space: nowrap; /* Faz com que não haja quebra para linha de baixo */

    display: inline-flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Efeito ao passar o mouse no botão de iniciar sessão */ 
.nav-cliente a:hover {
    background: #945880; /* Cor do fundo */
    color: #fff; /* Cor da fonte */

    box-shadow: 0 10px 25px rgba(168, 56, 130, 0.3); /* Cria uma sombra em volta do botão */
}

/* Efeito de clicar no botão */
.nav-cliente a:active {
    transform: scale(0.97);
}

/* Estilos para o Rodapé */ 
.footer-container {
    display: flex; /* Ativa o layout flexível */
    background-color: #ffeafd; /* Cor de fundo escura */
    color: rgb(161, 17, 106); /* Cor do texto */
    padding: 30px 20px; /* Espaçamento interno do rodapé */
    flex-wrap: wrap; /* Permite que os itens se ajustem em ecrãs pequenos */ 
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
}

.footer-section {
    flex: 1; /* Faz com que as secções tenham larguras iguais */
    min-width: 220px; /* Define uma largura mínima para cada secção */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo de cada bloco */
}

.footer-section strong {
    font-size: 1.2rem; /* Tamanho da fonte para os títulos */
    display: block; /* Ocupa toda a largura disponível */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    color: #680447; /* Cor clara para destaque */
}

/* Texto Genérico */ 
.container-texto-generico {
    display: flex; /* Ativa o layout flexível */
    justify-content: center;/* Centraliza os elementos horizontalmente */
    flex-wrap: wrap;/* Permite quebra de linha em ecrãs menores */
    gap: 20px; /* Espaço entre os elementos */
    padding: 100px 40px; /* Espaçamento interno (superior/inferior e laterais) */
    text-align: center; /* Centraliza o texto dentro dos artigos */
    min-height: 100vh; /* Garante altura mínima de uma janela (ecrã) */
}

/* Seção "Sobre nós" */
#sobre-nos {
    position: relative; /* Posições dos elementos relativas à secção */
    text-align: center; /* Centra horizontalmente o conteúdo */
    padding: 170px 20px 100px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo branca */
    overflow: hidden; /* Evita que o fundo ultrapasse a secção */
}

/* Imagem de fundo translúcida */
#sobre-nos::before {
    content: ""; /* Cria uma camada extra para a imagem */
    position: absolute; /* Coloca a imagem por trás do conteúdo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../img/Fundo.png"); /* Caminho da imagem */
    background-size: cover; /* Faz a imagem ocupar toda a secção */
    background-position: center; /* Centra a imagem */
    background-repeat: no-repeat; /* Impede repetição da imagem */

    opacity: 0.25; /* Torna a imagem clara/translúcida */
    z-index: 0; /* Fica atrás do texto */
}

/* Fade branco no fim da secção */
#sobre-nos::after {
    content: ""; /* Cria a camada do esvanecimento */
    position: absolute; /* Posiciona o fade sobre o fundo */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;

    background: linear-gradient( /* Cria um grandiente vertical da imagem até branco */
        to bottom,
        rgba(255,255,255,0),
        white
    );

    z-index: 1; /* Fica por cima da imagem */
}

.sobre-nos-content {
    position: relative;
    z-index: 2; /* Faz com que esteja em primeiro plano (em cima de tudo) */
    width: 100%;
    max-width: 1200px; /* Largura máxima de 800px para limitar o conteúdo */
    margin: 0 auto; /* Centra horizontalmente o conteúdo */
    text-align: center;
    padding: 0 20px;
}

.sobre-nos-content h1 {
    font-size: 3em; /* Tamanho para o título principal */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    display: flex; 
    flex-wrap: wrap; /* Permite quebra de linha em ecrãs pequenos */
    text-align: center; /* Texto centrado */
    color:#680447; /* Cor do texto */
    justify-content: center;
}

.sobre-nos-content p {
    font-size: 1.2em; /* Tamanho da letra */
    margin-bottom: 70px; /* Espaço abaixo do parágrafo */
    color:#680447; /* Cor do texto */
}

.button {
    display: inline-block; /* Permite definir largura/altura e manter como botão em linha */
    background-color: #945880; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno (vertical x horizontal) */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 10px; /* Bordas arredondadas no botão */
    cursor: pointer; /* Cursor tipo "mão" ao passar por cima */
}

/* Secção "Problema e Solução" */
#problema-solucao {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra dos elementos caso não haja espaço para as duas caixas */
    justify-content: center; /* Texto centrado */
    align-items: stretch; /* Todos os elementos apresentam a mesma altura */
    gap: 35px; /* Espaçamento entre as duas caixas */
    padding: 200px 40px;  /* Espaçamento interno */
    background-color: #fff;  /* Cor de fundo */
}


/* Caixas de Problema/Solução */
.problema-solucao-content {
    width: 500px;
    max-width: 100%; /* Largura da caixa */
    padding: 40px 30px; /* Espaço interno entre a caixa e o texto */
    background-color: #fff5fc; /* Cor do fundo */
    border-radius: 25px; /* Raio das bordas da caixa */
    text-align: center; /* Texto centrado */
    box-shadow: 0 10px 30px rgba(168, 56, 130, 0.3); /* Sombra em volta da caixa */
}

.problema-solucao-content h2 {
    color: #680447; /* Cor do texto */
    font-size: 2em; /* Tamanho do texto */
    margin-bottom: 20px; /* Espaçamento para baixo */
}

.problema-solucao-content p {
    color: #5c3750; /* Cor do texto */
    font-size: 1.05em; /* Tamanho do texto */
    line-height: 1.7; /* Espaçamento entre linhas */
    margin-bottom: 16px; /* Espaçamento para baixo */
}

/* Secção "Vantagens" */
#vantagens {
    padding: 110px 40px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo da secção */
}

#vantagens h2 {
    text-align: center; /* Texto centrado */
    font-size: 2.5em; /* Tamanho texto */
    color: #680447; /* Cor texto */
    margin-bottom: 20px; /* Espaçamento para baixo do título */
}

.vantagens-content {
    max-width: 900px; /* Define a largura máxima da secção */
    margin: 0 auto; /* Centra horizontalmente a secção */
    padding: 0; /* Remove espaçamento interno */
}

.vantagens-content li {
    position: relative;
    list-style: none; /* Permite remover os pontinhos */
    padding: 20px 20px 20px 55px; /* Espaçamento interno */
    margin-bottom: 18px; /* Espaçamento para baixo */
    background-color: #fff5fc; /* Cor de fundo */
    border-radius: 12px; /* Raio da borda da caixa de texto */
    line-height: 1.7; /* Espaçamento entre linhas */
    font-size: 1.05em; /* Tamanho da letra */
}

/* Check list */
.vantagens-content li::before {
    content: "✔"; /* Coloca "✔" antes de cada ponto */
    position: absolute; /* Posiciona o icon livremente dentro do item */
    left: 20px;
    top: 20px;
    color: #a83882; /* Cor do símbolo */
    font-weight: bold; /* Negrito */
    font-size: 1.2em; /* Tamanho do símbolo */
}

/* Secção "Funcionalidades" */
#funcionalidades{
    display: flex; /* Organiza os pacotes lado a lado */
    flex-wrap: wrap; /* Permite quebra de linha em ecrãs pequenos */
    padding: 150px 10px; /* Espaçamento interno */
}

#funcionalidades h2{
    text-align: left; /* Texto encostado à esquerda */
    font-size: 2.5em; /* Tamanho texto */
    color: #680447; /* Cor texto */
    margin-bottom: 5px; /* Espaçamento para baixo do título */
    text-decoration: underline; /* Sublinha o texto */
}

#funcionalidades > p{
    width: 100%; /* Ocupar 100% da largura */
    text-align: left; /* Texto alinhado à esquerda */
    font-size: 18px; /* Tamanho da letra */
    margin-top: 0; /* Sem espaçamento para cima */
    margin-bottom: 30px; /* Espaçamento para baixo */
}

.funcionalidades-container{
    display: flex; /* Alinha os elementos em linha */
    flex-wrap: wrap; /* Permite que os elementos passem para a linha seguinte em ecrãs menores */ 
    justify-content: center; /* Centraliza os elementos na horizontal */
}

.funcionalidades-content {
    width: 40%;
    max-width: 300px; /* Largura de cada caixa */
    margin: 20px; /* Espaçamento entre cada caixa */
    padding: 20px; /* Espaçamento interno em cada caixa */
    background-color: #fff5fc; /* Cor de fundo */
    border-radius: 5px; /* Raio da borda de cada caixa para efeito mais arredondado*/
    text-align: center; /* texto centrado */
    border: 2px solid #945880; /* Borda externa da caixa */
}

.funcionalidades-content i{
    font-size: 50px; /* Tamanho de letra */
}

/* Secção "Contacto" */
#contacto {
    padding: 150px 10px; /* Espaçamento interno */
}

#contacto form {
    display: flex; /* Usa layout flexível */
    flex-direction: column; /* Organiza os elementos na vertical */
    max-width: 500px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-bottom: 50px; /* Espaçamento para baixo do formulário */
}

#contacto h2 {
    text-align: left; /* Texto encostado à esquerda */
    font-size: 2.5em; /* Tamanho texto */
    color: #680447; /* Cor texto */
    margin-bottom: 5px; /* Espaçamento para baixo do título */
    text-decoration: underline; /* Sublinha o texto */
}

#contacto p {
    width: 100%; /* Ocupar 100% da largura */
    text-align: left; /* Texto alinhado à esquerda */
    font-size: 18px; /* Tamanho da letra */
    margin-top: 0; /* Sem espaçamento para cima */
    margin-bottom: 30px; /* Espaçamento para baixo */
}

#contacto label {
    margin-top: 10px; /*Espaço acima de cada rótulo */
}

#contacto input, #contacto textarea {
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    border: 1px solid #e6b3d7; /* Borda dos campos de texto */
    border-radius: 5px; /* Bordas arredondadas */
    width: 100%; /* Permite que os campos de texto ocupem toda a largura */
}

#contacto input:focus, #contacto textarea:focus {
    outline: none;
    border-color: #945880;
    box-shadow: 0 0 5px rgba(148, 88, 128, 0.5);
}

#contacto button {
    background-color: #680447; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor tipo "mão" ao passar por cima */
}

#contacto button:hover {
    background-color: #a83882;
}

/* ======================================== */
/* PRIVATE */
/* ======================================== */

/* Página inicial */
/* Estilo para a navbar */
.logo {
    max-height: 80px; /* Altura do logo */
    width: auto; /* Ajusta a largura da imagem automaticamente */
}

.custom-navbar {
    background-color: #fff; /* Cor do fundo */
    height: 110px; /* Altura do navbar */
    border-bottom: 1px solid #f1cde4;
}

/* Botão de utilizador */
.custom-btn {
    background-color: #fff4fb; /* Cor do fundo */
    color:#945880; /* Cor do texto */
    border: 2px solid #945880; /* Borda do botão */
    border-radius: 10px; /* Raio da borda do botão */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Cursor tipo "mão" ao passar por cima */
}

/* Estilo para sidebar */
.custom-sidebar {
    background-color: #fff4fb;
    padding: 25px 18px; /* Espaçamento interno */
    border-right: 1px solid #f1cde4;
}

/* Título Menu */
.sidebar-title {
    margin-bottom: 15px; /* Espaçamento para baixo */
    font-size: 2rem; /* Tamanho da letra */
}

.sidebar-menu {
    display: flex; /* Transforma num container flexivel */
    flex-direction: column; /* Links em coluna */
    gap: 5px; /* Espaço entre links */
}

/* Links do menu */
.sidebar-link {
    text-decoration: none; /* Sem ser sublinhado, etc */
    color: #680447;
    padding: 10px 15px;
    font-weight: 500; /* Espessura das letras */
    font-size: 1.2rem;
    display: flex;
    align-items: center; /* Elementos centrados em linha */
    gap: 10px; /* Espaço entre o icon e o texto */
    transition: 0.3s;
}

.sidebar-link:hover { /* Quando o "mouse" passa em cima */
    color: #e6b3d7;
    transform: translateX(5px); /* Desloca-se ligeiramente para o lado */
}

.main-section {
    padding: 30px; /* Tamanho da caixa */
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08); /* Sombra em volta da caixa */
}

.main-section h2 { /* Definições para título */
    color: #680447;
    font-size: 2rem;
    font-weight: bold; /* Negrito */
    margin-bottom: 20px; /* Espaço para baixo */
}

.main-section p { /* Definições para parágrafos */
    color: #555;
    font-size: 1.2rem;
    line-height: normal; /* Espaço entre linhas */
    margin-bottom: 5px; /* Espaço entre cada parágrafo */
}

/* Botão de menu nas páginas secundárias */
.custom-button {
    background-color: #945880; /* Cor de fundo */
    color: white;
    border: none; 
    border-radius: 14px; /* Define o arredondamento das bordas */
    padding: 10px 18px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho do texto */
    font-weight: 600; /* Espessura do texto */
    display: flex;
    align-items: center; /* Elementos centrados */
    transition: all 0.3s ease; /* Permite que as transições sejam mais suaves */
}

.custom-button:hover { /* Quando se passa o "mouse" em cima do botão */
    box-shadow: 0 6px 15px rgba(104, 4, 71, 0.35);
}

.custom-button:active { /* Quando se clica no botão */
    transform: scale(0.97);
}

#sidebarMenu {
    width: 35%; /* O menu lateral ocupa 35% */
    max-width: 320px; /* Largura máxima */
}

.offcanvas-header { /* Cabeçalho */
    border-bottom: 1px solid #f1cde4;
    padding: 20px;
}

/* Título Menu */
.offcanvas-title {
    color: #680447;
    font-size: 1.8rem; /* Tamanho da letra */
    font-weight: bold; /* Texto a negrito */
}

/* Corpo do menu */
.offcanvas-body {
    display: flex;
    flex-direction: column; /* Links organizados em coluna */
    gap: 10px; /* Define o espaço entre os links */
    padding: 20px; /* Espaçamento interno */
}

/* Botão de novo equipamento */
.btn-novo {
    transition: all 0.3s ease;
}

.btn-novo:hover { /* Quando se passa "mouse" no botão */
    box-shadow: 0 8px 18px rgba(104, 4, 71, 0.35);
}

.btn-novo:active { /* Quando se clica no botão */
    transform: scale(0.96);
}

/* Botões das ações do listar equipamento */
.btn-acao {
    color: #680447;
    font-weight: 600;
}

.btn-acao:hover {
    color: #ca3698;
}

/* Botão para guardar alterações */
.btn-guardar {
    background-color: #680447;
    color: #fff;
    transition: 0.3s;
}
.btn-guardar:hover {
    background-color: #a83882;
    color: #fff;
}

/* ======================================== */
/* RESPONSIVIDADE */
/* ======================================== */

/* MONITORES GRANDES */
@media (max-width: 1200px) {

    .bng-navbar img {
    height: 60px; /* Define a altura do logótipo */
    margin-right: 10px; /* Espaço entre o logótipo e o texto */ 
    }
    .container-navegacao a {
        margin: 0;
        font-size: 1rem;
        padding: 0 20px;
    }

    .sobre-nos-content,
    .vantagens-content,
    #contacto form {
        max-width: 1200px;
        margin: 0 auto;
    }

    .funcionalidades-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    #problema-solucao {
        max-width: 1400px;
        margin: 0 auto;
    }
}


/* TABLETS E PORTÁTEIS */
@media (max-width: 1024px) {

    .bng-navbar img {
    height: 60px; /* Define a altura do logótipo */
    margin-right: 10px; /* Espaço entre o logótipo e o texto */ 
    }

    .bng-navbar {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .container-navegacao a {
        margin: 0;
        font-size: 1rem;
        padding: 0 15px;
    }

    .container-navegacao {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 18px;
    }
    
    .problema-solucao-content {
        width: 100%;
        max-width: 500px;
    }

    .funcionalidades-content {
        width: 40%;
    }

    .sobre-nos-content h1 {
        font-size: 2.2rem;
    }
}


/* TELEMÓVEIS */
@media (max-width: 768px) {

    /* NAVBAR */
    .bng-navbar {
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        gap:5px;
    }

    .container-navegacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        width: auto;
    }

    .container-navegacao a {
        margin: 0;
        font-size: 1rem;
        padding: 0 10px;
    }

    .nav-cliente {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .bng-navbar img {
        height: 50px;
    }

    .sobre-nos-content h1 {
        font-size: 1.8rem;
        justify-content: center;
    }

    .sobre-nos-content p {
        font-size: 1rem;
    }

    #sobre-nos,
    #problema-solucao,
    #vantagens,
    #funcionalidades,
    #contacto {
        padding: 80px 20px;
    }

    .problema-solucao-content {
        width: 100%;
        padding: 30px 20px;
    }

    .funcionalidades-content {
        width: 100%;
        margin: 10px 10px;
    }

    #funcionalidades h2,
    #funcionalidades > p,
    #contacto h2,
    #contacto p {
        text-align: center;
    }

    .footer-container {
        flex-direction:column ;
    }

    .footer-section {
        font-size: 0.85rem;
    }

    .footer-section strong {
        font-size: 0.95rem;
    }
}


/* TELEMÓVEIS PEQUENOS */
@media (max-width: 480px) {

    .sobre-nos-content h1 {
        font-size: 1.5rem;
    }

    .problema-solucao-content h2,
    #vantagens h2,
    #funcionalidades h2,
    #contacto h2 {
        font-size: 1.6rem;
    }

    .nav-cliente a {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .container-navegacao a {
        font-size: 0.95rem;
        padding: 0 5px;
    }

    .bng-navbar img {
        height: 50px;
    }

    .footer-section {
        font-size: 0.85rem;
    }

    .footer-section strong {
        font-size: 0.95rem;
    }
}


/* Criticidade dos equipamentos */
.criticidade-badge {
    padding: 6px 10px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
}

.criticidade-baixa {
    background-color: #28a745;
}

.criticidade-media {
    background-color: #ffc107;
    color: black;
}

.criticidade-alta {
    background-color: #fd7e14;
}

.criticidade-suporte-vida {
    background-color: #dc3545;
}

/* Separadores dos detalhes do equipamento */
.nav-tabs .nav-link {
    color: #680447;
}

.nav-tabs .nav-link i {
    color: #680447;
}

.nav-tabs .nav-link:hover {
    color: #945880 !important;
}

.nav-tabs .nav-link:hover i {
    color: #945880 !important;
}

/* Dashboard */ 


    .stat-card {
        border: none;
        border-radius: 18px;
        box-shadow: 0 4px 14px rgba(0,0,0,0.08);
        transition: 0.2s;
    }

    .stat-card:hover {
        transform: translateY(-3px);
    }

    /* Icons */
    .stat-icon {
        width: 48px;
        height: 48px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f7d8ee;
        color: #ca3698;
        font-size: 1.3rem;
    }

    /* Número de equipamentos */
    .stat-number {
        color: #5c3750;
        font-size: 1.8rem;
        font-weight: 700;
    }

    /* Descrição do numero de equipamentos */
    .stat-label {
        color: #6c757d;
        font-size: 0.95rem;
    }

    /* Cards */
    .chart-card {
        border: none;
        border-radius: 18px;
        box-shadow: 0 4px 14px rgba(0,0,0,0.08);
    }

    /* Títulos */ 
    .chart-title {
        color: #5c3750;
        font-weight: 700;
    }

    /* Alertas */
    .alert-item {
        border-left: 4px solid #a83882;
        background-color: #fff4fb;
        border-radius: 10px;
        padding: 12px;
        margin-bottom: 10px;
    }

    /* Gráficos */
    .dashboard-chart {
    max-height: 300px;
}